<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="./DAFT.Framework/packages" />
    <add key="globalPackagesFolder" value="./DAFT.Framework/packages" />
  </config>
  <settings>
    <repositoryPath>./DAFT.Framework/packages</repositoryPath>
  </settings>
  ...
</configuration>